.search-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search--form {
  margin-right: 15rem;
  position: relative;
  &--bar {
    padding: 0.6rem 0.9rem;
    width: 25rem;
    outline: none;
    border: none;
    background-color: #f7fbfd;
    color: $thm-black;
  }
  &--btn {
    padding: 0.6rem 0.9rem;
    border: none;
    background-color: transparent;
    position: absolute;
    top: -7px;
    right: 7px;
    font-size: 28px;
    color: #333
  }
}
